<!doctype html>

<html>

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='font_awesome/css/font-awesome.min.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Merriweather" rel="stylesheet"> 
        <title>Jorge A. Berrueta</title>
    </head>

    <body>

        <div class="picture"></div>
        <h1 class="main-name">Jorge A. Berrueta</h1>
        <p class="about">Software developer devoted to culture, lifelong learning and education.</p>

        <div class="links">
            <a href="https://quora.com/profile/Jorge-A-Berrueta" class="link">
                <i class="fa fa-quora"></i> 
            </a>
            <a href="https://twitter.com/jorgeaber" class="link">
                <i class="fa fa-twitter"></i> 
            </a>
            <a href="https://facebook.com/jorgeaber" class="link">
                <i class="fa fa-facebook"></i> 
            </a>
            <a href="https://plus.google.com/u/0/115611889458217902544" class="link">
                <i class="fa fa-google-plus"></i> 
            </a>
            <a href="https://pinterest.com/jorgeaber" class="link">
                <i class="fa fa-pinterest-p"></i> 
            </a>
            <a href="http://github.com/jorgeaber" class="link">
                <i class="fa fa-github"></i> 
            </a>
        </div>

    </body>

</html>
